@media (max-width: 1220px) {
    .nav, .slider-header, .reviews-block, .contacts-block, .owl-carousel-slider {
        padding: 0 20px;
    }

    .demo-block {
        padding: 155px 20px 150px;
    }

    .footer-up, .footer-down {
        padding: 45px 20px;
    }

    .main-images {
        justify-content: center;
        bottom: -188px;
    }

    .main-right {
        display: none;
    }

    .slider {
        margin-top: 30%;
    }
}


@media (max-width: 1000px) {

    .main-images {
        justify-content: center;
        bottom: -124px;
    }

    .main-title {
        margin-top: 85px;
        font-size: 42px;
        line-height: 52px;
    }

    .active-btn {
        padding: 15px 25px;
    }

    .btn {
        padding: 15px 25px;
    }

    .btn-header {
        padding: 15px 25px;
    }

    .main-left {
        width: 93%;
    }

    .review-title {
        font-size: 24px;
    }

    .owl-carousel-review {
        width: 60%;
    }

    .contact-title {
        font-size: 42px;
    }

    .demo-title {
        font-size: 42px;
    }

    .input-form {
        max-width: 387px;
        width: 93%;
    }

    .form-btn {
        width: 93%;
    }
}


@media (max-width: 768px) {

    .slider-header{
        justify-content: center;
    }

    .slider-buttons, .container-slider{
        display: none;
    }

    .container-slider-mobile{
        margin: auto;
        overflow: hidden;
        max-width: 1200px;
        width: 100%;
    }

    .slider-mobile-block{
        padding: 0 20px;
        margin-bottom: 30px;
        text-align: center;
    }

    .slider-mobile-block img{
        width: 75%;
    }

    .reviews-block{
        display: block;
    }

    .owl-carousel-review{
        margin: auto;
    }

    .customPrevBtnReview, .customNextBtnReview{
        display: none;
    }

    .contacts-block{
        text-align: center;
    }

    .contact-block{
        display: block;
    }

    #form{
        max-width: 100%;
    }

    .input-form {
        width: 90%;
        max-width: 90%;
    }

    .form-button{
        justify-content: center;
    }

    .gif {
        width: 95%;
        margin-top: 41px;
    }

    .demo-block{
        display: block;
        padding: 35px 20px 35px;
        text-align: center;
    }

    .demo-buttons {
        justify-content: center;
    }

    .footer-up{
        display: block;
        text-align: center;
    }

    .footer-up .nav-list {
        list-style: none;
        display: block;
        color: white;
        margin-right: 0;
        margin-bottom: 100px;
    }

    .footer-up .nav-item {
        margin-right: 0;
        margin-bottom: 20px;
    }

    .footer-socials {
        justify-content: center;
    }

    .footer-down{
        display: block;
        text-align: center;
    }

    .footer-down .nav-list {
        list-style: none;
        display: block;
        color: white;
        margin-right: 0;
    }
}


@media (max-width: 630px) {
    .active-btn{
        display: block;
        width: 260px;
        margin: 0 auto 30px auto !important;
    }

    .btn{
        display: block;
        width: 260px;
        margin: 0 auto 30px auto !important;
    }

    .demo-buttons{
        display: block;
    }
}