@font-face {
    font-family: 'Gilroy';
    src: url("../fonts/Gilroy-Regular.woff2") format('woff2');
}

body{
    font-family: 'Gilroy', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    max-width: 1200px;
    width: 100%;
    margin: auto;
}

.btn{
    background: transparent;
    border: 1px solid white;
    border-radius: 90px;
    padding: 20px 35px;
    color: white;
    cursor: pointer;
    text-decoration: none;
}

.btn-header{
    background: transparent;
    border: 1px solid white;
    border-radius: 90px;
    padding: 20px 35px;
    color: white;
    cursor: pointer;
    text-decoration: none;
}

.btn:hover{
    background-color: white;
    color: #004462;
    transition: background-color 1s;
}

.btn:hover path{
    fill: #004462;
}

.active-btn{
    text-decoration: none;
    border-radius: 90px;
    padding: 20px 35px;
    color: white;
    cursor: pointer;
    background: #F37D57;
    border: 1px solid #F37D57;
}

.active-btn:hover{
    background-color: #CB6849;
    border: 1px solid #CB6849;
    transition: background-color 1s;
}

/*----------------HEADER----------------*/

.header{
    padding-top: 30px;
}

.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    max-width: 100px;
    width: 100%;
}

.nav-list{
    list-style: none;
    display: flex;
    color: white;
    padding: 0;
}

.nav-item{
    margin-right: 15px;
}

.nav-link{
    color: white;
    text-decoration: none;
}

.menu-button, .menu-close, .nav-menu {
    display: none;
}

/*---------------MAIN----------------------*/

.main{
    height: 100vh;
    background: url("../images/bg/main-bg.png") #004462;
}

.main-title{
    margin-top: 85px;
    font-style: normal;
    font-weight: 700;
    font-size: 62px;
    line-height: 72px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

.main-subtitle{
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    color: #FFFFFF;
}

.main-buttons{
    text-align: center;
    margin-top: 40px;
}

.main-buttons .active-btn{
    margin-right: 20px;
}

.main-images{
    display: flex;
    position: absolute;
    bottom: -16%;
    right: 0;
    left: 0;
}

.main-left{
    margin-right: 20px;
}



/*---------------SLIDER----------------------*/

.slider{
    margin-top: 18%;
    padding-bottom: 5%;
    border-bottom: 1px solid #E8E8E8;
}

.slider-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.slider-title{
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-transform: uppercase;
    color: #004462;
}

.slider-buttons{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn-slider{
    background: transparent;
    border: none;
    cursor: pointer;
}

.customPrevBtn{
    margin-right: 10px;
}

.btn-slider.customPrevBtnSlider{
    transform: rotate(180deg);
    margin-top: -5px;
}


.container-slider{
    margin: auto;
    overflow: hidden;
    max-width: 1200px;
    width: 100%;
}


/*--------------REVIEWS---------------*/

.reviews-block{
    margin: 120px auto 95px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn-slider.customPrevBtnReview{
    transform: rotate(180deg);
    margin-top: -2px;
}

.owl-carousel-review{
    max-width: 800px;
    width: 100%;
    text-align: center;
}


.review-img{
    margin: auto;
    width: 120px !important;

}

.review-title{
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 42px;
    text-align: center;
    color: #004462;
}


.review-subtitle{
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 36px;
    color: #004462;
}

.owl-dot.active{
    height: 15px !important;
    width: 15px !important;
    background: #004462 !important;
    border-radius: 50% !important;
    margin-right: 15px;
    cursor: pointer;
}

.owl-dot{
    cursor: pointer;
    height: 15px !important;
    width: 15px !important;
    background: #BFCFD6 !important;
    border-radius: 50% !important;
    margin-right: 15px;
}


/*----------------CONTACT------------*/

.contact{
    background-color: #FCFCFA;
}

.contact-title{
    padding-top: 130px;
    font-style: normal;
    font-weight: 700;
    font-size: 62px;
    line-height: 72px;
    text-transform: uppercase;
    color: #004462;
    margin: 0;
}

.contact-subtitle{
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 36px;
    color: #004462;
}

.contact-block{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 140px;
}

#form{
    max-width: 387px;
}

.gif{
    width: 58%;
    max-width: 732px;
}

.input-form{
    height: 67px;
    width: 387px;
    background: #EDF6F9;
    border-radius: 5px;
    border: none;
    outline: none;
    margin-bottom: 20px;
    font-size: 18px;
    padding-left: 10px;
}

.form-button{
    margin-top: 15px;
    display: flex;
    align-items: center;
    margin-bottom: 50px;
}

.checkbox {
    appearance: none;
    background-color: #fff;
    margin: 0 15px 0 0;
    font: inherit;
    color: currentColor;
    width: 35px;
    height: 35px;
    border: 1px solid #658E9F;
    border-radius: 5px;
    transform: translateY(-0.075em);
    display: grid;
    place-content: center;
}

.checkbox::before {
    content: "";
    width: 15px;
    height: 15px;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    background-color: #658E9F;
    transform-origin: bottom left;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}

.checkbox:checked::before {
    transform: scale(1);
}

.privacy{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: #658E9F;
}
.privacy a{
    color: #233e49;
}

.form-btn{
    border-radius: 90px;
    padding: 25px 35px;
    color: white;
    cursor: pointer;
    background: #F37D57;
    border: 1px solid #F37D57;
    width: 100%;
    font-size: 18px;
}

.form-btn:hover{
    background-color: #CB6849;
    border: 1px solid #CB6849;
    transition: background-color 1s;
}

/*----------------DEMO------------*/

.demo{
    background: url("../images/bg/demo-bg.png") no-repeat;
    background-size: cover;
    min-height: 475px;
}

.demo-block{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 155px 0 150px;
}

.demo-title{
    font-style: normal;
    font-weight: 600;
    font-size: 62px;
    line-height: 72px;
    color: #FFFFFF;
}

.demo-buttons{
    display: flex;
}

.demo-buttons .active-btn{
    margin-right: 20px;
}


/*---------------FOOTER-------------------*/

.footer{
    background-color: #004462;
}

.footer-up{
    padding: 45px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-socials{
    display: flex;
}

.footer-social{
    margin-right: 15px;
}

.footer-social:last-child{
    margin-right: 0;
}

.fb{
    background-image: url("../images/icons/Facebook.svg");
    background-repeat: no-repeat;
    width: 40px;
    height: 41px;
}

.fb:hover{
    background-image: url("../images/icons/Facebook-hover.svg");
    transition: background 0.9s ease;
}

.tw{
    background-image: url("../images/icons/Twitter.svg");
    background-repeat: no-repeat;
    width: 40px;
    height: 41px;
}

.tw:hover{
    background-image: url("../images/icons/Twitter-hover.svg");
    transition: background 0.9s ease;
}

.insta{
    background-image: url("../images/icons/IG.svg");
    background-repeat: no-repeat;
    width: 40px;
    height: 41px;
}

.insta:hover{
    background-image: url("../images/icons/IG-hover.svg");
    transition: background 0.9s ease;
}

.footer-middle{
    border-bottom: 2px solid white;
}

.footer-down{
    padding: 45px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-down .nav-item{
    margin-right: 0;
}

.footer-privacy{
    color: white;
}

.powered {
    color: white;
}

.powered-burger {
    color: white;
    position: absolute;
    bottom: 10px;
}

.altek {
    margin-left: 10px;
}
