@media (max-width: 1220px) {
    .nav, .slider-header, .reviews-block, .contacts-block, .owl-carousel-slider {
        padding: 0 20px;
    }

    .demo-block {
        padding: 155px 20px 150px;
    }

    .footer-up, .footer-down {
        padding: 45px 20px;
    }

    .main-images {
        justify-content: center;
        bottom: -188px;
    }

    .main-right {
        display: none;
    }

    .slider {
        margin-top: 30%;
    }
}


@media (max-width: 1000px) {

    .main-images {
        justify-content: center;
        bottom: -124px;
    }

    .main-title {
        margin-top: 85px;
        font-size: 42px;
        line-height: 52px;
    }

    .active-btn {
        padding: 15px 25px;
    }

    .btn {
        padding: 15px 25px;
    }

    .btn-header {
        padding: 15px 25px;
    }

    .main-left {
        width: 93%;
        margin-right: 0;
    }

    .review-title {
        font-size: 24px;
    }

    .owl-carousel-review {
        width: 60%;
    }

    .contact-title {
        font-size: 42px;
    }

    .demo-title {
        font-size: 42px;
    }

    .input-form {
        max-width: 387px;
        width: 93%;
    }

    .form-btn {
        width: 93%;
    }
}


@media (max-width: 768px) {

    .slider-header {
        justify-content: center;
    }

    .slider-buttons, .container-slider {
        display: none;
    }

    .container-slider-mobile {
        display: block;
        margin: auto;
        overflow: hidden;
        max-width: 1200px;
        width: 100%;
    }

    .slider-mobile-block {
        padding: 0 20px;
        margin-bottom: 30px;
        text-align: center;
    }

    .slider-mobile-block img {
        width: 75%;
    }

    .reviews-block {
        display: block;
    }

    .owl-carousel-review {
        margin: auto;
    }

    .customPrevBtnReview, .customNextBtnReview {
        display: none;
    }

    .contacts-block {
        text-align: center;
    }

    .contact-block {
        display: block;
    }

    #form {
        max-width: 100%;
    }

    .input-form {
        width: 90%;
        max-width: 90%;
    }

    .form-button {
        justify-content: center;
    }

    .gif {
        width: 95%;
        margin-top: 41px;
    }

    .demo-block {
        display: block;
        padding: 35px 20px 35px;
        text-align: center;
    }

    .demo-buttons {
        justify-content: center;
    }

    .footer-up {
        display: block;
        text-align: center;
    }

    .footer-up .nav-list {
        list-style: none;
        display: block;
        color: white;
        margin-right: 0;
        margin-bottom: 100px;
    }

    .footer-up .nav-item {
        margin-right: 0;
        margin-bottom: 20px;
    }

    .footer-socials {
        justify-content: center;
    }

    .footer-down {
        display: block;
        text-align: center;
    }

    .footer-down .nav-list {
        list-style: none;
        display: block;
        color: white;
        margin-right: 0;
    }
}


@media (max-width: 630px) {
    .active-btn {
        display: block;
        width: 260px;
        margin: 0 auto 30px auto !important;
    }

    .btn {
        display: block;
        width: 260px;
        margin: 0 auto 30px auto !important;
    }

    .demo-buttons {
        display: block;
    }
}


@media (max-width: 565px) {
    .header .nav-list {
        display: none;
    }

    .btn-header {
        display: none;
    }

    .main-block {
        padding: 0 20px;
    }

    .nav-menu {
        margin-top: 0;
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: #004462;
        z-index: 9;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        transform: translateX(100%);
        transition: transform 0.2s;
        text-align: center;
        list-style: none;
        padding: 0;
    }

    .nav-menu .nav-list {
        display: block;
    }

    .nav-menu .nav-item {
        font-size: 24px;
        margin-bottom: 15px;
        margin-right: 0;
    }

    .nav-menu .footer-socials {
        margin-top: 30px;
    }

    .menu-button {
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
        background: transparent;
        cursor: pointer;
        color: white;
    }

    .menu-close {
        opacity: 0;
        position: fixed;
        right: 7%;
        top: 5.5%;
        display: flex;
        align-items: center;
        z-index: 10;
        border: none;
        background-color: transparent;
        cursor: pointer;
        transform: translateX(300%);
        transition: transform 0.2s;
        transition-delay: 0.4s;
    }

    .is-active {
        transform: translateX(0%);
        opacity: 1;
    }
}

@media (max-width: 450px) {
    .main-images {
        bottom: -69px;
    }

    .demo-title {
        font-size: 32px;
        line-height: 42px;
    }

    .owl-carousel-review {
        width: 90%;
    }

    .review-title {
        font-size: 20px;
    }

    .review-subtitle {
        font-size: 16px;
    }
}


@media (max-height: 850px) {
    .main {
        height: 844px;
    }

     .main-images {
         position: relative;
        bottom: -69px;
    }

}